@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
  scroll-behavior: smooth;
  background-color: #dfe4de;
  overflow-x: hidden;

  /* bg-colours */

  --bg-colour-purple: #33263a;
  --bg-colour-green: #dfe4de;
  --bg-colour-blue: #1082b6;
  --bg-colour-white: #fff;

  /* text  */

  --text-blue: #002434;
  --text-yellow: #e1af56;
}

/* .fade-in-section {
  animation: fadeIn 6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
